NEXT_PUBLIC_SUPABASE_URL="https://wllkyqzhpvzrzwqfrclj.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndsbGt5cXpocHZ6cnp3cWZyY2xqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU0NzI0ODYsImV4cCI6MjA5MTA0ODQ4Nn0.u_jzrsUETKiU-i7otBq9b5mh1_mxX6y4EZdhReIFmFY"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndsbGt5cXpocHZ6cnp3cWZyY2xqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTQ3MjQ4NiwiZXhwIjoyMDkxMDQ4NDg2fQ.4IRlawRAX_5oGSk-lC3jtsxbvU4sDqferZGUKC4PL1Y"
NEXTAUTH_SECRET=
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
MPESA_CALLBACK_URL=
PAYSTACK_SECRET_KEY=
WHATSAPP_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_VERIFY_TOKEN=
